.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

/*.Styled {*/
/*  color: #8f5c2c;*/
/*  text-decoration: none;*/
/*  width: 100%;*/
/*  box-sizing: border-box;*/
/*  display: block;*/
/*}*/

/*.Styled.active,*/
/*.Styled:hover {*/
/*  background-color: #8f5c2c;*/
/*  border-bottom: 4px solid #40a4c8;*/
/*  color: white;*/
/*}*/

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
